* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.header {
    background-color: #ffd700;
    padding: 20px 0;
}

.header img {
    width: 80px;
}

.menu {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu button {
    width: 80%;
    max-width: 500px;
    padding: 15px 20px;
    margin: 10px 0;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu button:hover {
    background-color: #ccc;
}

.menu button img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.menu button span {
    flex-grow: 1;
    text-align: left;
    font-size: 18px;
    color: #333;
}

/* Ícones */
.play-icon::before {
    content: "▶";
    font-size: 24px;
}

.theme-icon::before {
    content: "♟";
    font-size: 24px;
}

.ranking-icon::before {
    content: "👑";
    font-size: 24px;
}

.account-icon::before {
    content: "👤";
    font-size: 24px;
}

#theme-selection {
    text-align: center;
    margin-top: 50px;
}

#theme-list {
    list-style: none;
    padding: 0;
}

#theme-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255); /* Overlay background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it’s above other content */
}


#theme-list li {
    padding: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Estilos para o botão desativado */
button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Estilos para links que se parecem com botões */
.button-link {
    width: 80%;
    max-width: 500px;
    padding: 15px 20px;
    margin: 10px 0;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    text-decoration: none;
}

.button-link:visited {
    color: black;
}

.button-link a{
    flex: 1;
    text-decoration: none;
    color: #333;
}